{{ $author := index .Site.Data.authors .Params.author_username .Params.language }}
{{ $social := (index .Site.Data.authors $.Params.author_username).social }}

{{ partial "head.html" . }}

<body class="detail" itemscope itemtype="http://schema.org/Article">
    {{ partial "nav-overlay.html" . }}
    <div id="read-progress"><div></div></div>
    <div id="all">
        {{ partial "navbar.html" . }}
        {{if .PrevInSection}}
        <div class="article-link article-prev">
            <a href="{{.PrevInSection.Permalink}}">Précédent</a>
            <div class="article-infos">
                <div class="article-img" style="background-image: url('{{ .PrevInSection.Params.thumbnail }}');"></div>
            </div>
        </div>
        {{end}}
        {{if .NextInSection}}
        <div class="article-link article-next">
            <a href="{{if .NextInSection}}{{.NextInSection.Permalink}}{{end}}">Suivant</a>
            <div class="article-infos">
                <div class="article-img" style="background-image: url('{{ .NextInSection.Params.thumbnail }}');"></div>
            </div>
        </div>
        {{end}}
        <header>
            <h4>{{ range .Params.tags }}<strong><a href="/tags/{{ . | urlize }}">{{ . }}</a></strong> {{ end }} - {{ .Date.Format "02 Jan 2006" }}</h4>
            <h1 itemprop="name">{{ .Title }}</h1>
            <p class="author">
                <a href="#" class="author"><img src="{{ $social.avatar_url }}" alt="{{ $author.display_name }}"></a>
                <br/>
                <span>écrit par <a href="#" class="strong">{{ $author.display_name }}</a></span>
            </p>
            <div itemprop="description" class="intro">
                {{ .Description }}
            </div>
            <div class="hero">
                <img src="https://placeimg.com/1000/310/any" alt="" />
            </div>
        </header>
        <div class="container">
            <article id="article">
                {{ .Content }}
                <div id="socials">
                    <div class="author-block">
                        <div class="picture">
                            <img src="{{ $social.avatar_url }}" alt="{{ $author.display_name }}">
                        </div>
                        <div class="job">
                            <strong>{{ $author.display_name }}</strong><br/>
                            {{ $author.job_title }}
                        </div>
                        <div class="links">
                            <a href="https://twitter.com/{{ $social.twitter }}" target="_blank"><i class="icon-twitter"></i></a>
                            <a href="https://github.com/{{ $social.github }}" target="_blank"><i class="icon-github"></i></a>
                            
                            {{ with $social.google_plus_id }}
                            <a href="https://plus.google.com/{{ $social.google_plus_id }}?rel=author" target="_blank"><i class="icon-github"></i></a>
                            {{ end }}
                        </div>
                    </div>

                    <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        /* * * CONFIGURATION VARIABLES * * */
                        var disqus_shortname = 'elaoblog';

                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                </div>
            </article>
            {{ partial "footer.html" . }}
        </div>
    </div>
</body>
</html>
