{{ $author := index .Site.Data.authors .Params.author_username .Params.language }}
{{ $social := (index .Site.Data.authors $.Params.author_username).social }}

{{ partial "head.html" . }}

<body class="detail">
    {{ partial "nav-overlay.html" . }}
    <div id="read-progress"><div></div></div>
    <div id="all">
        {{ partial "navbar.html" . }}
        {{if .PrevInSection}}
        <div class="article-link article-prev">
            <a href="{{.PrevInSection.Permalink}}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).post_prev }}</a>
            <div class="article-infos">
                <div class="article-img" style="background-image: url('{{ partial "i18n.html" . }}{{ .PrevInSection.Params.thumbnail }}');"></div>
            </div>
        </div>
        {{end}}
        {{if .NextInSection}}
        <div class="article-link article-next">
            <a href="{{if .NextInSection}}{{.NextInSection.Permalink}}{{end}}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).post_next }}</a>
            <div class="article-infos">
                <div class="article-img" style="background-image: url('{{ partial "i18n.html" . }}{{ .NextInSection.Params.thumbnail }}');"></div>
            </div>
        </div>
        {{end}}
        <header>
            {{ $context := . }}
            <h4>{{ range .Params.tags }}<strong><a href="{{ partial "i18n.html" $context }}/tags/{{ . | urlize }}">{{ . }}</a></strong> {{ end }} - {{ .Date.Format "02 Jan 2006" }}</h4>
            <h1>{{ .Title }}</h1>
            <p class="author">
                <a href="#" class="author"><img src="{{ if $social.avatar_url }}{{ $social.avatar_url }}{{ else }}{{ partial "i18n.html" . }}/images/logo.svg{{ end }}" alt="{{ $author.display_name }}"></a>
                <br/>
                <span>{{ ( index $.Site.Data.translations $.Site.Params.locale ).post_wrote_by }} <a href="#" class="strong">{{ $author.display_name }}</a></span>
            </p>
            <div class="intro">
                {{ .Description }}
            </div>
            <div class="hero">
                <img src="{{ if isset .Params "header_img" }} {{ partial "i18n.html" . }}{{ index .Params "header_img" }}{{ else }}https://placeimg.com/1000/310/any{{ end }}" alt="" />
            </div>
        </header>
        <div class="container">
            <article id="article">
                {{ .Content }}
                <div id="socials">
                    <div class="author-block">
                        <div class="picture">
                            <img src="{{ if $social.avatar_url }}{{ $social.avatar_url }}{{ else }}{{ partial "i18n.html" . }}/images/logo.svg{{ end }}" alt="{{ $author.display_name }}">
                        </div>
                        <div class="job">
                            <strong>{{ $author.display_name }}</strong><br/>
                            {{ $author.job_title }}
                        </div>
                        <div class="links">
                            <a href="https://twitter.com/{{ $social.twitter }}" target="_blank"><i class="icon-twitter"></i></a>
                            <a href="https://github.com/{{ $social.github }}" target="_blank"><i class="icon-github"></i></a>

                            {{ with $social.google_plus_id }}
                            <a href="https://plus.google.com/{{ $social.google_plus_id }}?rel=author" target="_blank"><i class="icon-gplus"></i></a>
                            {{ end }}
                        </div>
                    </div>

                    <div id="disqus_thread"></div>
                    <script>
                    /**
                    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                    */

                    var disqus_config = function () {
                        this.page.url = {{ .Permalink }};  // Replace PAGE_URL with your page's canonical URL variable
                        this.page.identifier = {{ .Slug }}; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                    };

                    (function() {  // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');

                    s.src = '//elao.disqus.com/embed.js';

                    s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                </div>
            </article>
            {{ partial "structured-data.html" . }}
            {{ partial "footer.html" . }}
        </div>
    </div>
</body>
</html>
