{{ partial "head.html" . }}
<body>
    {{ partial "nav-overlay.html" . }}
    <div id="all">
        {{ partial "navbar.html" . }}
        {{ partial "slider.html" . }}
        <div class="container">
            <div class="articles-list">
                {{ range $index, $article := .Data.Pages }}
                <article>
                    {{ if eq (mod $index 2) 0 }}
                        <div class="col-img"><img src="/images/posts/thumbnails/matryoshka.jpg" alt=""></div>
                    {{ end }}
                    <div class="col-text">
                        <h4><strong>{{ delimit .Params.tags ", " }}</strong> - {{ .Date.Format "02 Jan 2006" }}</h4>
                        <h2>{{ .Title }}</h2>
                        <p>{{ .Summary }}</p>
                        <a href="{{ .RelPermalink }}" class="btn">Lire la suite</a>
                    </div>
                    {{ if ne (mod $index 2) 0 }}
                        <div class="col-img"><img src="/images/posts/thumbnails/hdd_partition.jpg" alt=""></div>
                    {{ end }}
                </article>
                {{ end }}
            </div>
            <nav class="pager">
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
            </nav>
            {{ partial "footer.html" . }}
        </div>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>
