<!-- {{ partial "head.html" . }}
<body>

{{ partial "sidebar.html" . }}

    <div class="content container">
<div class="post">
  <h1>{{ .Title }}</h1>
  <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
      {{ .Content }}
</div>
</div>

  </body>
</html>
 -->

{{ partial "head.html" . }}
<body class="detail">
    {{ partial "nav-overlay.html" . }}
    <div id="all">
        {{ partial "navbar.html" . }}
        <header>
            <h4><strong>Conférence</strong> - 29.05.2015</h4>
            <h1>{{ .Title }}</h1>
            <p class="author">
                <a href="#" class="author"><img src="http://www.gravatar.com/avatar/7f70e04906c6be43177bfeafe903b649" alt=""></a>
                <br/>
                <span>écrit par <a href="#" class="strong">Jérémy FAGIS</a></span>
            </p>
            <div class="intro">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla ratione, nostrum sequi, vero illum quibusdam nobis deserunt perferendis architecto amet exercitationem deleniti, iste recusandae ipsum possimus doloribus reprehenderit voluptatem vitae!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla ratione, nostrum sequi, vero illum quibusdam nobis deserunt perferendis architecto amet exercitationem deleniti, iste recusandae ipsum possimus doloribus reprehenderit voluptatem vitae!
            </div>
            <div class="hero">
                <img src="https://placeimg.com/1000/310/any" alt="" />
            </div>
        </header>
        <div class="container">
            <article id="article">

                {{ .Content }}

                <div id="socials">
                    <div class="author-block">
                        <div class="picture">
                            <img src="http://www.gravatar.com/avatar/7f70e04906c6be43177bfeafe903b649" alt="">
                        </div>
                        <div class="job">
                            <strong>Jérémy FAGIS</strong><br/>
                            Développeur Front-end
                        </div>
                        <div class="links">
                            <a href="#" target="_blank"><i class="icon-twitter"></i></a>
                            <a href="#" target="_blank"><i class="icon-github"></i></a>
                        </div>
                    </div>

                    <div id="disqus_thread"></div>
                    <script type="text/javascript">
                        /* * * CONFIGURATION VARIABLES * * */
                        var disqus_shortname = 'elaoblog';

                        /* * * DON'T EDIT BELOW THIS LINE * * */
                        (function() {
                            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                        })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
                </div>
            </article>
            {{ partial "footer.html" . }}
        </div>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>
