<!-- {{ partial "head.html" . }}
<body>

{{ partial "sidebar.html" . }}

    <div class="content container">
<div class="post">
  <h1>{{ .Title }}</h1>
  <span class="post-date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
      {{ .Content }}
</div>
</div>

  </body>
</html>
 -->


{{ partial "head.html" . }}
<body>

    {{ partial "nav.html" . }}

    <div class="main container">
        <div class="row">
            <div class="col-sm-9">
                <h2>Exemple de texte et de code</h2>
                <p>When it comes to template engines in PHP, many people will tell you that PHP itself is a template engine. But even if PHP started its life as a template language, it did not evolve like one in the recent years. As a matter of fact, it doesn't support many features modern template engines should have nowadays :</p>
                <p><strong class="orange">Concise :</strong> The PHP language is verbose and becomes ridiculously verbose when it comes to output escaping :</p>
                <pre><code>C'est un block
fait pour du code, OUAIS OUAIS !</code></pre>

                <p>In comparison, Twig has a very concise syntax, which make templates more readable :</p>
                <pre><code>C'est un block
fait pour du code, OUAIS OUAIS !</code></pre>

                <p><strong class="orange">Template oriented syntax :</strong> Twig has shortcuts for common patterns, like having a default text displayed when you iterate over an empty array :</p>
                <pre><code>C'est un block
fait pour du code, OUAIS OUAIS !</code></pre>

                <p><strong class="orange">Easy to learn :</strong> The syntax is easy to learn and has been optimized to allow web designers to get their job done fast without getting in their way.</p>
                <p>Of course, PHP is also the language for which you can find the more template engine projects. But most of them are still developed with PHP4 in mind, and do not embrace web development best practices:</p>
                <p><strong class="orange">Extensibility :</strong> Twig is flexible enough for all your needs, even the most complex ones. Thanks to an open architecture, you can implement your own language constructs (tags, filters, functions, and even operators) to create your very own DSL.</p>
                <p><strong class="orange">Unit tested :</strong> Twig is fully unit-tested. The library is stable and ready to be used in large projects.</p>
                <p><strong class="orange">Documented :</strong> Twig is fully documented, with a dedicated online book, and of course a full API documentation.</p>
            </div>
            <div class="col-sm-3 sidebar">
                <nav class="fixed">
                    <ul>
                        {{ $currentNode := . }}
                        {{ range .Site.Menus.sidebar }}
                            <li {{if ($currentNode.HasMenuCurrent "sidebar" .) }} class="active" {{end}}><a href="{{.Url}}">{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                </nav>
            </div>
        </div>
    </div>

    {{ partial "footer.html" . }}

</body>
</html>
