{{ partial "head.html" . }}
<body>
    {{ partial "nav-overlay.html" . }}
    <div id="all">
        {{ partial "navbar.html" . }}
        <header class="category-header elao">
            <div class="inner">
                <h1>Actualités</h1>
                <p>Suivez toutes les actualités d'élao</p>
                <nav class="socials">
                    <a href="#" target="_blank"><i class="icon-twitter"></i></a>
                    <a href="#" target="_blank"><i class="icon-github"></i></a>
                    <a href="#" target="_blank"><i class="icon-instagram"></i></a>
                </nav>
            </div>
        </header>
        <div class="container">
            <div class="articles-list compact">
                <div class="col-1"></div>
                <div class="col-2"></div>
                <div class="col-3"></div>
                <article>
                    <a href="#" class="image" style="background-image: url('/images/category/dev.jpg');"></a>
                    <div class="content">
                        <h3><a href="#">Lorem ipsum dolor sit amet consectetur</a></h3>
                        <p><a href="#">Lire l'article</a></p>
                    </div>
                </article>
                <article>
                    <a href="#" class="image" style="background-image: url('/images/category/dev.jpg');"></a>
                    <div class="content">
                        <h3><a href="#">Lorem ipsum dolor sit amet consectetur</a></h3>
                        <p><a href="#">Lire l'article</a></p>
                    </div>
                </article>
                <article>
                    <a href="#" class="image" style="background-image: url('/images/category/dev.jpg');"></a>
                    <div class="content">
                        <h3><a href="#">Lorem ipsum dolor sit amet consectetur</a></h3>
                        <p><a href="#">Lire l'article</a></p>
                    </div>
                </article>
                <article>
                    <a href="#" class="image" style="background-image: url('/images/category/dev.jpg');"></a>
                    <div class="content">
                        <h3><a href="#">Lorem ipsum dolor sit amet consectetur</a></h3>
                        <p><a href="#">Lire l'article</a></p>
                    </div>
                </article>
                <article>
                    <a href="#" class="image" style="background-image: url('/images/category/dev.jpg');"></a>
                    <div class="content">
                        <h3><a href="#">Lorem ipsum dolor sit amet consectetur</a></h3>
                        <p><a href="#">Lire l'article</a></p>
                    </div>
                </article>
                <article>
                    <a href="#" class="image" style="background-image: url('/images/category/dev.jpg');"></a>
                    <div class="content">
                        <h3><a href="#">Lorem ipsum dolor sit amet consectetur</a></h3>
                        <p><a href="#">Lire l'article</a></p>
                    </div>
                </article>
                <article>
                    <a href="#" class="image" style="background-image: url('/images/category/dev.jpg');"></a>
                    <div class="content">
                        <h3><a href="#">Lorem ipsum dolor sit amet consectetur</a></h3>
                        <p><a href="#">Lire l'article</a></p>
                    </div>
                </article>
                <article>
                    <a href="#" class="image" style="background-image: url('/images/category/dev.jpg');"></a>
                    <div class="content">
                        <h3><a href="#">Lorem ipsum dolor sit amet consectetur</a></h3>
                        <p><a href="#">Lire l'article</a></p>
                    </div>
                </article>
                <article>
                    <a href="#" class="image" style="background-image: url('/images/category/dev.jpg');"></a>
                    <div class="content">
                        <h3><a href="#">Lorem ipsum dolor sit amet consectetur</a></h3>
                        <p><a href="#">Lire l'article</a></p>
                    </div>
                </article>
            </div>
            {{ partial "pagination.html" . }}
            {{ partial "footer.html" . }}
        </div>
    </div>
</body>
</html>
