<div id="nav-overlay">
    <div class="container">
        <div class="categories">
            <div class="row">
                {{ $currentNode := . }}
                {{ range .Site.Menus.main }}
                    <div class="col-sm-3">
                        <h3><a href="{{ .URL | absLangURL }}">{{ .Name }}</a></h3>
                        <ul>
                        {{ range .Children }}
                            <li><a href="{{ .URL | absLangURL }}">{{ .Name }}</a></li>
                        {{ end }}
                        </ul>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
</div>
