<header class="homepage-slider">
    <div class="owl-carousel owl-theme">
        {{ range first 3 .Data.Pages.ByPublishDate.Reverse }}
          {{ $author := index .Site.Data.authors .Params.author_username .Lang }}
          {{ $social := (index .Site.Data.authors .Params.author_username).social }}
          <div class="item">
            <a href="{{ .RelPermalink }}">
              <div class="hero" style="background-image: url('{{ .Params.header_img }}');"></div>
              <div class="inner">
                  <h4><strong>{{ .Section }}</strong> - {{ .PublishDate.Format "02 Jan 2006" }}</h4>
                  <h1>{{ .Title }}</h1>
                  <div class="author">
                      <img src="/images/{{ if $social.avatar }}{{ $social.avatar }}{{ else }}elao_60x60.jpg{{ end }}" alt="{{ $author.display_name }}">
                  </div>
                  <br/>
              </div>
            </a>
          </div>
        {{ end }}
    </div>
</header>
