.article-header {
    text-align: center;
    padding: 50px 0 80px 0;

    h4 {
        color: #999;

        a,
        a:visited {
            color: #999;
            transition: color 0.1s linear;

            &:hover {
                text-decoration: none;
                color: $main-color;
            }
        }
    }

    h1 {
        text-transform: none;
        margin: 40px 0;
    }

    .article-header__author {
        margin: 0;

        img {
            height: 60px;
            width: 60px;
            border-radius: 60px;
            border: 2px solid #FFF;
        }

        a,
        a:visited { color: $text-color; }

        span { opacity: 0.5; }
    }

    .article-header__intro {
        font-weight: 600;
        margin: 60px auto;
        padding: 0 40px;
        font-size: 20px;
        line-height: 38px;
        max-width: 1500px;
    }

    .article-header__hero {
        margin: 60px auto 0 auto;
        max-width: 1700px;

        img { width: 100%; }
   }
}

@media (max-width: $screen-xs-max) {
    .article-header {
        padding: 30px 0 40px 0;

        h1 { margin: 20px 0; }

        .article-header__intro { margin: 40px auto; }
    }
}
