.article {
    max-width: 750px;
    margin: auto;

    h1,
    h2,
    h3 { margin: 50px 0 15px; }

    h4,
    h5 { margin: 30px 0 15px; }

    h1,
    h2,
    h3,
    h4,
    h5 {
        &::before {
            display: block;
            padding-top: 110px;
            margin-top: -110px;
            visibility: hidden;
            content: '';
        }

        a {
            &, &:visited {
                text-decoration: underline;
                color: $text-color;
            }

            &:hover {
                color: $main-color;

                .anchor { color: rgba(34, 34, 34, 0.4); }
            }
        }

        a.anchor {
            color: rgba(34, 34, 34, 0.4);
            text-decoration: none;
            margin-left: .3em;

            &::before {
                content: '\e9cb';
                font-family: 'icomoon';
                font-size: .8em;
            }

            &:hover { color: $main-color; }
        }
    }

    ul { padding-left: 20px; }

    a {
        &, &:visited {
            text-decoration: underline;
            color: $text-color;
        }

        &:hover {
            color: $main-color;
        }
    }

    img {
        max-width: 100%;

        &.left {
            float: left;
            margin: 0 40px 20px 0;
        }

        &.right {
            float: right;
            margin: 0 0 20px 40px;
        }

        &.outside-left {
            float: left;
            margin: 0 40px 20px -120px;
        }

        &.outside-right {
            float: right;
            margin: 0 -120px 20px 40px;
        }

        &.full {
            width: 100%;
            margin: 40px 0;
        }

        &.center {
            margin: 40px auto;
            display: block;
            text-align: center;
        }
    }

    figcaption {
        h4 {
            font-size: $base-font-size;
            margin: 5px 0 32px;
            text-align: center;
        }
    }

    blockquote {
        margin: 40px 0;
        padding: 5px 0 5px 40px;
        font-style: italic;
        border-left: 2px solid #222;

        p { margin: 0; }
    }

    iframe,
    twitterwidget { margin: 40px auto !important; }

    p {
        img {
            display: block;
            margin: 40px auto;
        }
    }
}

@media (max-width: $screen-md-max) {
    .article {
        img.outside-left { margin-left: -80px; }

        img.outside-right { margin-right: -80px; }
    }
}

@media (max-width: $screen-sm-max) {
    .article {
        img.outside-left { margin-left: 0; }

        img.outside-right { margin-right: 0; }
    }
}
