.article-footer {
    display: inline-table;
    width: 100%;
    margin: 60px 0;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    padding-top: 20px;
    padding-bottom: 20px;

    > div {
        display: table-cell;
        vertical-align: middle;
    }

    .picture {
        width: 60px;

        img {
            width: 60px;
            border-radius: 30px;
            display: block;
        }
    }
}


.article-footer__job {
    padding-left: 20px;
    min-width: 300px;
    color: #999;
    line-height: 26px;

    strong {
        font-size: 22px;
        color: #222;
    }
}

.article-footer__links {
    text-align: right;

    a,
    a:visited {
        color: $text-color;
        font-size: 30px;
        margin-left: 5px;
        transition: all 0.1s linear;

        &:hover { color: $main-color; }

        i.icon-gplus { font-size: 26px; }
    }
}

@media (max-width: $screen-xs-max) {
    .article-footer {
        display: block;

        > div { display: block; }

        .picture {
            float: left;
            margin-right: 15px;
        }
    }

    .article-footer__job {
        padding-left: 0;
        padding-top: 5px;
    }

    .article-footer__links {
        clear: both;
        text-align: center;
        margin-top: 20px;
    }
}
