@import "owl-carousel/owl.theme.default";
@import "owl-carousel/owl.carousel";

.homepage-slider {
    margin-top: 15px;
    margin-bottom: 50px;
    width: 100%;
    height: 550px;
    position: relative;

    .owl-theme {
        position: relative;
        height: 550px;

        .owl-dots {
            position: absolute;
            bottom: 30px;
            left: 50%;
            transform: translateX(-50%);

            .owl-dot {
                span {
                    border-radius: 0;
                    transition: all 0.1s linear;
                    margin: 0 6px;
                    background-color: $background-color;
                    opacity: 0.6;
                }

                &.active {
                    span {
                        transform: rotate(45deg);
                        opacity: 0.8;
                        background-color: $main-color;
                    }
                }
            }
        }
    }

    .owl-carousel {
        .owl-item {
            position: relative;

            .item {
                height: 550px;
                background: #222;
                position: relative;

                .hero {
                    background: none;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: cover;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    z-index: 0;
                    opacity: 0.2;
                }

                .inner {
                    position: absolute;
                    z-index: 1;
                    top: 50%;
                    left: 0;
                    width: 100%;
                    text-align: center;
                    transform: translateY(-50%);

                    img {
                        width: auto;
                        display: inline;
                    }

                    h4 {
                        color: #DFDFDF;
                        margin: 0;
                        font-size: 16px;
                        font-weight: 400;
                        font-family: "Work Sans","Helvetica Neue",Helvetica;
                        text-transform: uppercase;

                        strong { text-transform: uppercase; }
                    }

                    h1 {
                        letter-spacing: -0.05em;
                        margin: 20px 0;
                        padding: 0 40px;
                        text-transform: uppercase;

                        &,
                        a,
                        a:visited {
                            color: #FFF;

                            &:hover { text-decoration: none; }
                        }
                    }

                    .author {
                        img {
                            height: 60px;
                            width: 60px;
                            border-radius: 60px;
                            border: 2px solid #FFF;
                        }

                        &:hover { text-decoration: none; }
                    }
                }
            }
        }
    }
}


@media (max-width: $screen-xs-max) {
    .homepage-slider {
        margin-bottom: 0;

        .owl-carousel {
            .owl-item {
                .item {
                    .inner {
                        h1 { font-size: 20px; }
                    }
                }
            }
        }
    }
}
