.side-link {
    position: fixed;
    z-index: 140;
    top: 50%;
    transform: translateY(-50%);
    border: 2px solid $main-color;
    height: 220px;
    width: 80px;
    color: $main-color;
    text-transform: uppercase;
    font-weight: 600;
    overflow: hidden;
    transition: width 0.3s ease;

    > a {
        width: 220px;
        height: 80px;
        line-height: 80px;
        z-index: 220;
        position: absolute;
        text-align: center;
        transition: all 0.3s ease;

        &:hover { text-decoration: none; }
    }

    .side-link__infos {
        height: 220px;
        width: 80px;
        z-index: 210;
        position: relative;
        background: transparent;
        transition: all 0.3s linear;

        .side-link__img {
            opacity: 0;
            background: none;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: all 0.3s linear;
        }
    }

    &:hover {
        a { color: $background-color; }

        .side-link__infos {
            background: $main-color;

            .side-link__img { opacity: 0.2; }
        }
    }
}

.side-link--prev {
    left: 0;
    border-left: 0;

    > a {
        transform: rotate(-90deg);
        transform-origin: top left;
        margin-top: 218px;
        left: 0;
    }
}

.side-link--next {
    right: 0;
    border-right: 0;

    > a {
        transform: rotate(90deg);
        transform-origin: top right;
        margin-top: 218px;
        right: 0;
    }
}

@media (max-width: $screen-sm-max) {
    .side-link { display: none; }
}
