<div id="nav-overlay">
    <div class="container">
        <div class="search">
            <input type="text" placeholder="Recherche un article" />
            <i class="icon-search"></i>
            <p class="start-typing">Commencez à taper</p>
        </div>
        <div class="categories">
            <div class="row">
                <div class="col-sm-3">
                    <h3>Design</h3>
                    <ul>
                        <li><a href="#">Ux / Ui</a></li>
                        <li><a href="#">Photoshop</a></li>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Logo</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h3>Design</h3>
                    <ul>
                        <li><a href="#">Ux / Ui</a></li>
                        <li><a href="#">Photoshop</a></li>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Logo</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h3>Design</h3>
                    <ul>
                        <li><a href="#">Ux / Ui</a></li>
                        <li><a href="#">Photoshop</a></li>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Logo</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h3>Design</h3>
                    <ul>
                        <li><a href="#">Ux / Ui</a></li>
                        <li><a href="#">Photoshop</a></li>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Logo</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
