<div id="nav-overlay">
    <div class="container">
        <div class="search">
            <input type="text" placeholder="Recherche un article" />
            <i class="icon-search"></i>
            <p class="start-typing">Commencez à taper</p>
        </div>
        <div class="categories">
            <div class="row">
                <div class="col-sm-3">
                    <h3>Design</h3>
                    <ul>
                        <li><a href="#">Ux / Ui</a></li>
                        <li><a href="#">Photoshop</a></li>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Logo</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h3>Design</h3>
                    <ul>
                        <li><a href="#">Ux / Ui</a></li>
                        <li><a href="#">Photoshop</a></li>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Logo</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h3>Design</h3>
                    <ul>
                        <li><a href="#">Ux / Ui</a></li>
                        <li><a href="#">Photoshop</a></li>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Logo</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h3>Design</h3>
                    <ul>
                        <li><a href="#">Ux / Ui</a></li>
                        <li><a href="#">Photoshop</a></li>
                        <li><a href="#">Web design</a></li>
                        <li><a href="#">Logo</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <h3>Derniers articles</h3>
        <div class="last-articles">
            <article>
                <div class="col-img">
                    <a href="#"><img src="http://www.gravatar.com/avatar/7f70e04906c6be43177bfeafe903b649?s=600" alt="" /></a>
                </div>
                <div class="col-text">
                    <h4><strong>Conférence</strong> - 29.05.15</h4>
                    <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                </div>
            </article>
            <article>
                <div class="col-img">
                    <a href="#"><img src="http://www.gravatar.com/avatar/7f70e04906c6be43177bfeafe903b649?s=600" alt="" /></a>
                </div>
                <div class="col-text">
                    <h4><strong>Conférence</strong> - 29.05.15</h4>
                    <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                </div>
            </article>
            <article>
                <div class="col-img">
                    <a href="#"><img src="http://www.gravatar.com/avatar/7f70e04906c6be43177bfeafe903b649?s=600" alt="" /></a>
                </div>
                <div class="col-text">
                    <h4><strong>Conférence</strong> - 29.05.15</h4>
                    <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                </div>
            </article>
            <article>
                <div class="col-img">
                    <a href="#"><img src="http://www.gravatar.com/avatar/7f70e04906c6be43177bfeafe903b649?s=600" alt="" /></a>
                </div>
                <div class="col-text">
                    <h4><strong>Conférence</strong> - 29.05.15</h4>
                    <h3><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                </div>
            </article>
        </div>
    </div>
</div>
