<header class="homepage-slider">
    <div class="owl-carousel">
        {{ range first 3 .Data.Pages.ByPublishDate.Reverse }}
          {{ $author := index .Site.Data.authors .Params.author_username .Lang }}
          {{ $social := (index .Site.Data.authors .Params.author_username).social }}

          <div class="item">
              <div class="hero" style="background-image: url('{{ .Params.header_img }}');"></div>
              <div class="inner">
                  <h4><strong>{{ .Section }}</strong> - {{ .PublishDate.Format "02 Jan 2006" }}</h4>
                  <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
                  <a href="#" class="author">
                      <img src="/images/{{ if $social.avatar }}{{ $social.avatar }}{{ else }}logo.svg{{ end }}" alt="{{ $author.display_name }}">
                  </a>
                  <br/>
              </div>
          </div>
        {{ end }}
    </div>
</header>
