<header class="homepage-slider">
    <div class="owl-carousel">
        {{ range first 3 .Data.Pages.ByPublishDate.Reverse }}
        {{ $author := index .Site.Data.authors .Params.author_username .Params.language }}
        {{ $social := (index .Site.Data.authors .Params.author_username).social }}

        <div class="item">
            <div class="hero" style="background-image: url('');"></div>
            <div class="inner">
                <h4><strong>{{ .Section }}</strong> - {{ .PublishDate.Format "02 Jan 2006" }}</h4>
                <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
                <a href="#" class="author"><img src="{{ if $social.avatar_url }}{{ $social.avatar_url }}{{ else }}{{ partial "i18n.html" . }}/images/logo.svg{{ end }}" alt="{{ $author.display_name }}"></a>
            </div>
        </div>
        {{ end }}
    </div>
</header>
