@media (max-width: 1200px) {
    .detail {
        article#article {
            img.outside-left {
                margin-left: -80px;
            }
            img.outside-right {
                margin-right: -80px;
            }
        }
    }
    .articles-list {
        article {
            > div {
                vertical-align: top;
            }
        }
    }
}

@media (max-width: 1000px) {
    .detail {
        article#article {
            img.outside-left {
                margin-left: 0;
            }
            img.outside-right {
                margin-right: 0;
            }
        }

        .article-link {
            display: none;
        }

        #all {
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    #all {
        padding-left: 30px;
        padding-right: 30px;
    }

    #nav-overlay {
        padding-left: 30px;
        padding-right: 30px;
    }

    .articles-list {
        article {
            display: block;
            > div {
                display: block;

                h2 {
                    text-overflow: ellipsis;
                    width: 100%;
                    overflow: hidden;
                }

                &.col-text {
                    width: 100%;
                }

                &.col-img {
                    display: none;
                }
            }

            .btn {
                float: none;
                display: block;
                padding-left: 20px;
                padding-right: 20px;
                text-align: center;
            }
        }
    }
}

@media (max-width: 767px) {
    #all {
        padding-top: 60px;
    }

    .navbar {
        height: 60px;
    }

    .logo {
        &, img {
            height: 60px;
            width: 60px;
        }
    }

    .nav-button {
        top: 30px;
    }

    .container {
        padding-left: 0;
        padding-right: 0;
    }

    .articles-list {
        article {
            background: #FFF;
            > div {
                padding: 25px;
            }
        }
    }

    h1 {
        font-size: 46px;
    }

    h2 {
        font-size: 34px;
    }

    #read-progress {
        left: 60px;
    }

    .homepage-slider {
        margin-bottom: 0;
    }

    .detail {
        header {
            padding: 30px 0 40px 0;

            h1 {
                margin: 20px 0;
            }

            .intro {
                margin: 40px auto;
            }
        }

        article#article {
            h1, h2 {
                font-size: 34px;
                line-height: 50px;
            }

            h3 {
                font-size: 28px;
            }

            #socials {
                .author-block {
                    display: block;

                    > div {
                        display: block;

                        &.picture {
                            float: left;
                            margin-right: 15px;
                        }

                        &.job {
                            padding-left: 0;
                            padding-top: 5px;
                        }

                        &.links {
                            clear: both;
                            text-align: center;
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }

    #nav-overlay {
        .container {
            .last-articles {
                display: block;
                margin-left: 0;
                margin-right: 0;

                article {
                    display: block;
                    width: 100%;

                    > div.col-img {
                        display: none;
                    }
                }
            }
        }
    }
}
