.category-header {
    position: relative;
    text-align: center;
    padding: 20px;

    img {
        margin: 75px 0 20px 0;
        max-width: 650px;
        width: 100%;
    }

    &.elao {
        height: 500px;
        background-image: url(../images/category/actus.jpg);
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover;
        color: #FFF;
        margin-bottom: 60px;

        &::after {
            content: '';
            background: #222;
            opacity: 0.8;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
        }

        .inner {
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
            z-index: 10;
            font-size: 22px;

            h1 {
                color: #FFF;
                font-size: 80px;
            }

            p {
                margin: 15px 0 30px 0;
            }

            nav {
                a {
                    color: #FFF;
                    padding: 5px;
                    font-size: 22px;
                    transition: all 0.15s linear;

                    &:hover {
                        color: $main-color;
                    }
                }
            }
        }
    }
}

.intro {
    font-size: 22px;
    line-height: 38px;
    text-align: center;
    margin: 30px 0 60px 0;
}

.articles-list.compact {
    margin-left: -10px;
    margin-right: -10px;

    .col-1, .col-2, .col-3 {
        float: left;
        width: 33.3333333%;
        padding: 0 10px;
        margin: 0 0 20px 0;
    }

    article {
        display: block;
        padding: 0;
        background: #FFF;
        margin: 0 0 20px 0;


        .image {
            display: block;
            height: 150px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            transition: all 0.15s linear;

            &:hover {
                    opacity: 0.7;
            }
        }

        .content {
            padding: 15px 20px 15px 20px;
            display: block;

            h3 {
                text-transform: none;
                margin-bottom: 5px;
            }

            p {
                margin: 0;
                padding: 0;
                text-align: right;
                font-family: $headings-font-family;
            }
        }
    }
}
