{{ partial "head.html" . }}
<body>
    {{ partial "nav-overlay.html" . }}
    <div id="all">
        {{ partial "navbar.html" . }}
        <header class="category-header" style="background-image: url('/images/category/dev.jpg');">
            <div class="inner">
                <h1>Dev</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad dicta odio amet aperiam, culpa ratione reprehenderit mollitia laboriosam itaque fugiat? Architecto alias incidunt earum et mollitia dolore culpa laboriosam animi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil asperiores hic, accusantium veniam voluptate eveniet itaque ratione tempora repellat rem optio id maxime cum dignissimos dicta, exercitationem, saepe sequi temporibus.</p>
            </div>
        </header>
        <div class="container">
            <div class="articles-list">
                {{ range $index, $article := .Data.category.Pages }}
                <article>
                    {{ if eq (mod $index 2) 0 }}
                        <div class="col-img"><a href="{{ .Permalink }}"><img src="{{ .Params.thumbnail }}" alt="{{ .Title }}" /></a></div>
                    {{ end }}
                    <div class="col-text">
                        <h4>{{ range .Params.tags }}<strong><a href="/tags/{{ . | urlize }}">{{ . }}</a></strong> {{ end }} - {{ .Date.Format "02 Jan 2006" }}</h4>
                        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                        <p>{{ .Summary }}</p>
                        <a href="{{ .RelPermalink }}" class="btn">Lire la suite</a>
                    </div>
                    {{ if ne (mod $index 2) 0 }}
                        <div class="col-img"><a href="{{ .Permalink }}"><img src="{{ .Params.thumbnail }}" alt="{{ .Title }}" /></a></div>
                    {{ end }}
                </article>
                {{ end }}
            </div>
            {{ partial "pagination.html" . }}
            {{ partial "footer.html" . }}
        </div>
    </div>
</body>
</html>
