{{ partial "head.html" . }}
<body>
    {{ partial "nav-overlay.html" . }}
    <div id="all">
        {{ partial "navbar.html" . }}
        <div class="container">
            <div class="articles-list">
                {{ range $index, $article := .Paginator.Pages }}
                <article>
                    {{ if eq (mod $index 2) 0 }}
                        <div class="col-img"><a href="{{ .Permalink }}"><img src="{{ .Params.thumbnail }}" alt="{{ .Title }}" /></a></div>
                    {{ end }}
                    <div class="col-text">
                        {{ $context := . }}
                        <h4>{{ range .Params.tags }}<strong><a href="{{ partial "i18n.html" $context }}/tags/{{ . | urlize }}">{{ . }}</a></strong> {{ end }} - {{ .Date.Format "02 Jan 2006" }}</h4>
                        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                        <p>{{ .Summary }}</p>
                        <a href="{{ .RelPermalink }}" class="btn">{{ ( index $.Site.Data.translations $.Site.Params.locale ).post_read_more }}</a>
                    </div>
                    {{ if ne (mod $index 2) 0 }}
                        <div class="col-img"><a href="{{ .Permalink }}"><img src="{{ .Params.thumbnail }}" alt="{{ .Title }}" /></a></div>
                    {{ end }}
                </article>
                {{ end }}
            </div>
            {{ partial "pagination.html" . }}
            {{ partial "footer.html" . }}
        </div>
    </div>
</body>
</html>
