{{ partial "head.html" . }}
<body>
    {{ partial "nav-overlay.html" . }}
    <div id="all">
        <button type="button" class="nav-button"><span class="line-1"></span><span class="line-2"></span><span class="line-3"></span></button>
        <div class="navbar">
            <a href="#" class="logo"><img src="/images/logo.svg" alt="" /></a>
        </div>
        {{ partial "slider.html" . }}
        <div class="container">
            <div class="articles-list">
                <article>
                    <div class="col-text">
                        <h4><strong>Conférence</strong> - 29.05.2015</h4>
                        <h2>Un titre d'article vraiment un poil trop long</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, quisquam odio perspiciatis cum aut vitae corporis unde magni rem, vel quasi veniam adipisci pariatur ullam magnam assumenda sunt error! Suscipit!</p>
                        <a href="#" class="btn">Lire la suite</a>
                    </div>
                    <div class="col-img"><img src="http://www.gravatar.com/avatar/7f70e04906c6be43177bfeafe903b649?s=600" alt=""></div>
                </article>
                <article>
                    <div class="col-img"><img src="http://www.gravatar.com/avatar/7f70e04906c6be43177bfeafe903b649?s=600" alt=""></div>
                    <div class="col-text">
                        <h4><strong>Conférence</strong> - 29.05.2015</h4>
                        <h2>Un titre d'article</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta non iste quam molestiae minima fugiat aliquam explicabo maxime voluptatem doloribus vel, cum aperiam excepturi magnam deserunt maiores facere recusandae. Eius.</p>
                        <a href="#" class="btn">Lire la suite</a>
                    </div>
                </article>
                <article>
                    <div class="col-text">
                        <h4><strong>Conférence</strong> - 29.05.2015</h4>
                        <h2>Un titre d'article</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, non libero tenetur assumenda itaque ex reiciendis optio, quae unde deleniti maxime asperiores consectetur, rem aliquid rerum harum repellendus modi ad.</p>
                        <a href="#" class="btn">Lire la suite</a>
                    </div>
                    <div class="col-img"><img src="http://www.gravatar.com/avatar/7f70e04906c6be43177bfeafe903b649?s=600" alt=""></div>
                </article>
                <article>
                    <div class="col-img"><img src="http://www.gravatar.com/avatar/7f70e04906c6be43177bfeafe903b649?s=600" alt=""></div>
                    <div class="col-text">
                        <h4><strong>Conférence</strong> - 29.05.2015</h4>
                        <h2>Un titre d'article</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum temporibus laboriosam labore placeat iusto voluptate quasi quae, animi commodi sint aspernatur nostrum, tempore officia officiis autem quidem provident nobis dolorem.</p>
                        <a href="#" class="btn">Lire la suite</a>
                    </div>
                </article>
                <article>
                    <div class="col-text">
                        <h4><strong>Conférence</strong> - 29.05.2015</h4>
                        <h2>Un titre d'article</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, odit voluptatibus! Dignissimos quas laboriosam perspiciatis vero, adipisci nulla doloribus laborum magnam voluptates. Eveniet ratione in aut, ad id pariatur quas.</p>
                        <a href="#" class="btn">Lire la suite</a>
                    </div>
                    <div class="col-img"><img src="http://www.gravatar.com/avatar/7f70e04906c6be43177bfeafe903b649?s=600" alt=""></div>
                </article>
            </div>
            <nav class="pager">
                <a href="#" class="active">1</a>
                <a href="#">2</a>
                <a href="#">3</a>
                <a href="#">4</a>
                <a href="#">5</a>
            </nav>
            {{ partial "footer.html" . }}
        </div>
    </div>
</body>
</html>
